USE [master]
GO
/****** Object:  Database [SodaGallitos]    Script Date: 1/25/2022 11:37:55 AM ******/
CREATE DATABASE [SodaGallitos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SodaGallitos', FILENAME = N'E:\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\SodaGallitos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SodaGallitos_log', FILENAME = N'E:\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\SodaGallitos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SodaGallitos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SodaGallitos]
GO
/****** Object:  UserDefinedTableType [dbo].[ElementIdList]    Script Date: 1/25/2022 11:37:55 AM ******/
CREATE TYPE [dbo].[ElementIdList] AS TABLE(
	[IdElement] [int] NULL
)
GO
/****** Object:  Table [dbo].[AdicionalesxOrden]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdicionalesxOrden](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdElemento] [int] NOT NULL,
	[IdOrden] [int] NOT NULL,
	[SiPagado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elemento]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elemento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NOT NULL,
	[SiAdicional] [bit] NOT NULL,
	[Precio] [money] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Elemento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElementosxPlatillo]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosxPlatillo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdElemento] [int] NOT NULL,
	[idPlatillo] [int] NOT NULL,
 CONSTRAINT [PK_ElementosxPlatillo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Mesa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdMesa] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[TipoArregloPrecio] [int] NULL,
	[ValorArregloPrecio] [money] NULL,
	[NotaArregloPrecio] [nchar](100) NULL,
	[ResponsableCreacion] [int] NOT NULL,
	[Nota] [nchar](100) NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platillo]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platillo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NOT NULL,
	[Precio] [money] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Platillo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatillosxOrden]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatillosxOrden](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPlatillo] [int] NOT NULL,
	[IdOrden] [int] NOT NULL,
	[SiPagado] [bit] NOT NULL,
 CONSTRAINT [PK_PlatillosxOrden] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](15) NOT NULL,
	[Password] [nchar](15) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinal] [date] NULL,
	[Estado] [bit] NOT NULL,
	[Rol] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Apellido] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdicionalesxOrden]  WITH CHECK ADD  CONSTRAINT [FK_AdicionalesxOrden_Elemento] FOREIGN KEY([IdElemento])
REFERENCES [dbo].[Elemento] ([Id])
GO
ALTER TABLE [dbo].[AdicionalesxOrden] CHECK CONSTRAINT [FK_AdicionalesxOrden_Elemento]
GO
ALTER TABLE [dbo].[AdicionalesxOrden]  WITH CHECK ADD  CONSTRAINT [FK_AdicionalesxOrden_Orden] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Orden] ([Id])
GO
ALTER TABLE [dbo].[AdicionalesxOrden] CHECK CONSTRAINT [FK_AdicionalesxOrden_Orden]
GO
ALTER TABLE [dbo].[ElementosxPlatillo]  WITH CHECK ADD  CONSTRAINT [FK_ElementosxPlatillo_Elemento] FOREIGN KEY([IdElemento])
REFERENCES [dbo].[Elemento] ([Id])
GO
ALTER TABLE [dbo].[ElementosxPlatillo] CHECK CONSTRAINT [FK_ElementosxPlatillo_Elemento]
GO
ALTER TABLE [dbo].[ElementosxPlatillo]  WITH CHECK ADD  CONSTRAINT [FK_ElementosxPlatillo_Platillo] FOREIGN KEY([idPlatillo])
REFERENCES [dbo].[Platillo] ([Id])
GO
ALTER TABLE [dbo].[ElementosxPlatillo] CHECK CONSTRAINT [FK_ElementosxPlatillo_Platillo]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Mesa] FOREIGN KEY([IdMesa])
REFERENCES [dbo].[Mesa] ([Id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Mesa]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Usuario] FOREIGN KEY([ResponsableCreacion])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Usuario]
GO
ALTER TABLE [dbo].[PlatillosxOrden]  WITH CHECK ADD  CONSTRAINT [FK_PlatillosxOrden_Orden] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Orden] ([Id])
GO
ALTER TABLE [dbo].[PlatillosxOrden] CHECK CONSTRAINT [FK_PlatillosxOrden_Orden]
GO
ALTER TABLE [dbo].[PlatillosxOrden]  WITH CHECK ADD  CONSTRAINT [FK_PlatillosxOrden_Platillo] FOREIGN KEY([IdPlatillo])
REFERENCES [dbo].[Platillo] ([Id])
GO
ALTER TABLE [dbo].[PlatillosxOrden] CHECK CONSTRAINT [FK_PlatillosxOrden_Platillo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([Rol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
/****** Object:  StoredProcedure [dbo].[addDishAndExtraPerOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addDishAndExtraPerOrder]
    @pExtraAndDishList NVARCHAR(MAX),
	@pIdOrder as int
AS
BEGIN
    SET NOCOUNT ON
		
		DECLARE @IdPlatillos AS TABLE (IdPlatillo INT)
		INSERT INTO @IdPlatillos
		select * from OPENJSON(@pExtraAndDishList,'$.Platillos')
		WITH( 
		IdPlatillo INT '$' )

        INSERT INTO dbo.[PlatillosxOrden] (IdPlatillo, IdOrden, SiPagado)
        SELECT IdPlatillo, @pIdOrder, 0
		FROM @IdPlatillos
		
		DECLARE @IdAdicionales AS TABLE (IdAdicionales INT)
		INSERT INTO @IdAdicionales
		select * from OPENJSON(@pExtraAndDishList,'$.Adicionales')
		WITH( 
		IdAdicional INT '$' )

        INSERT INTO dbo.[PlatillosxOrden] (IdPlatillo, IdOrden, SiPagado)
        SELECT IdPlatillo, @pIdOrder, 0
		FROM @IdPlatillos

END
GO
/****** Object:  StoredProcedure [dbo].[addElement]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addElement]
    @pName NVARCHAR(50),
	@pSiAdicional BIT,
	@pPrecio MONEY
AS
BEGIN
    SET NOCOUNT ON

        INSERT INTO dbo.[Elemento] (Nombre, SiAdicional, Precio ,Estado)
        VALUES(@pName, @pSiAdicional, @pPrecio, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[addOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addOrder]
    @pIdMesa int, 
    @pTipoArregloPrecio int = NULL,
    @pValorArregloPrecio money = NULL, 
    @pNotaArregloPrecio NVARCHAR(100) = NULL,
	@pNota NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON

        INSERT INTO dbo.[Orden] (Fecha, IdMesa, Estado, TipoArregloPrecio, ValorArregloPrecio, NotaArregloPrecio, Nota)
        VALUES(CURRENT_TIMESTAMP, @pIdMesa, 1, @pTipoArregloPrecio, @pValorArregloPrecio, @pNotaArregloPrecio, @pNota)
		SELECT SCOPE_IDENTITY() as Id
END
GO
/****** Object:  StoredProcedure [dbo].[addTable]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addTable]
    @pName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON

        INSERT INTO dbo.[Mesa] (Nombre, Estado)
        VALUES(@pName, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[addUser]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[addUser]
    @pUserName NVARCHAR(50), 
    @pPassword NVARCHAR(50),
    @pFirstName NVARCHAR(40) = NULL, 
    @pLastName NVARCHAR(40) = NULL,
	@Rol int
AS
BEGIN
    SET NOCOUNT ON

        INSERT INTO dbo.[Usuario] (Username, [Password], FechaInicio, FechaFinal, Estado, Rol, Nombre, Apellido)
        VALUES(@pUserName, @pPassword, getDate(), NULL, 1, @Rol, @pFirstName, @pLastName)

END
GO
/****** Object:  StoredProcedure [dbo].[changeElement]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[changeElement]
	@pIdElement INT,
    @pName NVARCHAR(50),
	@pSiAdicional BIT,
	@pPrecio MONEY
AS
BEGIN
    SET NOCOUNT ON

        UPDATE Elemento
        SET Nombre = @pName, SiAdicional = @pSiAdicional, Precio = @pPrecio
		WHERE Id = @pIdElement

END
GO
/****** Object:  StoredProcedure [dbo].[changeNameTable]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[changeNameTable]
	@pIdTable int,
    @pName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON

        UPDATE Mesa
        SET Nombre = @pName
		WHERE Id = @pIdTable

END
GO
/****** Object:  StoredProcedure [dbo].[CreateDishWithElements]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateDishWithElements]
	@pElementsIdList AS NVARCHAR(MAX),
	@pName as NVARCHAR(50),
	@pPrice as MONEY
	
AS
BEGIN
    SET NOCOUNT ON

		INSERT INTO dbo.[Platillo] (Nombre, Precio, Estado)
        VALUES(@pName, @pPrice, 1)

		DECLARE @IdDish as INT
		SET @IdDish = SCOPE_IDENTITY()

		DECLARE @IdElementos AS TABLE (IdElemento INT)
		INSERT INTO @IdElementos
		select * from OPENJSON(@pElementsIdList,'$.Elementos')
		WITH( 
		IdElemento INT '$' )

		INSERT INTO dbo.[ElementosxPlatillo] (IdElemento, idPlatillo)
		SELECT IdElemento, @IdDish
		FROM @IdElementos
		
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDish]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DeleteDish]
	@pIdDish INT

	
AS
BEGIN
    SET NOCOUNT ON

		UPDATE dbo.[Platillo] 
        SET Estado = 0
		WHERE Id = @pIdDish

END
GO
/****** Object:  StoredProcedure [dbo].[deleteElement]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteElement]
    @pIdElement INT
AS
BEGIN
    SET NOCOUNT ON
        UPDATE dbo.[Elemento]
        SET Estado = 0
		WHERE Id = @pIdElement
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DeleteOrder]
	@pIdOrder as int
AS
BEGIN
    SET NOCOUNT ON
		
		DELETE AdicionalesxOrden
		WHERE IdOrden = @pIdOrder

		DELETE PlatillosxOrden
		WHERE IdOrden = @pIdOrder

		DELETE Orden
		WHERE Id = @pIdOrder


END
GO
/****** Object:  StoredProcedure [dbo].[deleteTable]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteTable]
    @pIdTable INT
AS
BEGIN
    SET NOCOUNT ON
        UPDATE dbo.[Mesa]
        SET Estado = 0
		WHERE Id = @pIdTable
END
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteUser]
    @pUserName NVARCHAR(50),
	@pNewPassword NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON
        UPDATE dbo.[Usuario]
        SET [Password] = @pNewPassword
		WHERE Username = @pUserName
END
GO
/****** Object:  StoredProcedure [dbo].[EditDishAndExtraPerOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditDishAndExtraPerOrder]
    @pExtraAndDishList NVARCHAR(MAX),
	@pIdOrder as int,
	@pNota as NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON

		DELETE AdicionalesxOrden
		WHERE IdOrden = @pIdOrder

		DELETE PlatillosxOrden
		WHERE IdOrden = @pIdOrder

        DECLARE @IdPlatillos AS TABLE (IdPlatillo INT)
		INSERT INTO @IdPlatillos
		select * from OPENJSON(@pExtraAndDishList,'$.Platillos')
		WITH( 
		IdPlatillo INT '$' )

        INSERT INTO dbo.[PlatillosxOrden] (IdPlatillo, IdOrden, SiPagado)
        SELECT IdPlatillo, @pIdOrder, 0
		FROM @IdPlatillos
		
		DECLARE @IdAdicionales AS TABLE (IdAdicionales INT)
		INSERT INTO @IdAdicionales
		select * from OPENJSON(@pExtraAndDishList,'$.Adicionales')
		WITH( 
		IdAdicional INT '$' )

        INSERT INTO dbo.[PlatillosxOrden] (IdPlatillo, IdOrden, SiPagado)
        SELECT IdPlatillo, @pIdOrder, 0
		FROM @IdPlatillos

		UPDATE Orden
		SET Nota = @pNota
		WHERE Id=@pIdOrder

END
GO
/****** Object:  StoredProcedure [dbo].[EditDishWithElements]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditDishWithElements]
	@pIdDish INT,
	@pElementsIdList AS NVARCHAR(MAX),
	@pName as NVARCHAR(50),
	@pPrice as MONEY
	
AS
BEGIN
    SET NOCOUNT ON

		DELETE ElementosxPlatillo
		WHERE idPlatillo = @pIdDish

		UPDATE dbo.[Platillo] 
        SET Nombre = @pName, Precio = @pPrice, Estado = 1
		WHERE Id = @pIdDish

		DECLARE @IdElementos AS TABLE (IdElemento INT)
		INSERT INTO @IdElementos
		select * from OPENJSON(@pElementsIdList,'$.Elementos')
		WITH( 
		IdElemento INT '$' )

		INSERT INTO dbo.[ElementosxPlatillo] (IdElemento, idPlatillo)
		SELECT IdElemento, @pIdDish
		FROM @IdElementos
		
END
GO
/****** Object:  StoredProcedure [dbo].[finishOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[finishOrder]
    @pIdOrden int
AS
BEGIN
    SET NOCOUNT ON

        UPDATE Orden
		SET Estado = 2
		WHERE Id = @pIdOrden

END
GO
/****** Object:  StoredProcedure [dbo].[GetDishes]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDishes]

	
AS
BEGIN
    SET NOCOUNT ON

	SELECT Id, Nombre, Precio, Estado
	FROM Platillo

END
GO
/****** Object:  StoredProcedure [dbo].[GetDishesWithElements]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDishesWithElements]

AS
BEGIN
    SET NOCOUNT ON

		SELECT
			plat.Id,
			plat.Nombre,
			plat.Precio,
            elementos.Id,
            elementos.Nombre,
			elementos.Precio
            
		FROM
			Platillo as plat
            
            RIGHT OUTER JOIN ElementosxPlatillo AS CrucePlatillo ON CrucePlatillo.IdPlatillo = plat.Id
            
            RIGHT OUTER JOIN Elemento AS elementos ON elementos.Id = CrucePlatillo.IdElemento
            

		WHERE
			plat.Estado = 1
		ORDER BY 
			plat.Nombre,
            elementos.Nombre			
		FOR
			JSON AUTO



END
GO
/****** Object:  StoredProcedure [dbo].[getElements]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getElements]
AS
BEGIN
    SET NOCOUNT ON

        SELECT Id, Nombre, SiAdicional, Precio, Estado
		FROM Elemento
		WHERE Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrders]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetOrders]

AS
BEGIN
    SET NOCOUNT ON

        SELECT * 
		FROM Orden

END
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersPerUser]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetOrdersPerUser]
	@pIdUser INT
	
AS
BEGIN
    SET NOCOUNT ON

		SELECT *
		FROM Orden
		WHERE ResponsableCreacion = @pIdUser AND Estado = 1
		
END
GO
/****** Object:  StoredProcedure [dbo].[GetProcessedOrders]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetProcessedOrders]

AS
BEGIN
    SET NOCOUNT ON

		SELECT
			ord.Id,
			ord.Fecha,
			tab.Id,
			tab.Nombre,
			ord.ResponsableCreacion,
			ord.Nota,
			plat.Id,
			plat.Nombre,
			plat.Precio,
            elementos.Id,
            elementos.Nombre,
			extra.Id,
			extra.Nombre,
			extra.Precio
            
		FROM
			Orden as ord
			RIGHT OUTER JOIN PlatillosxOrden as CruceOrden ON ord.Id = CruceOrden.IdOrden
			
			RIGHT OUTER JOIN Platillo as plat ON CruceOrden.IdPlatillo = plat.Id
            
            RIGHT OUTER JOIN Mesa as tab ON ord.IdMesa = tab.Id
            
            RIGHT OUTER JOIN ElementosxPlatillo AS CrucePlatillo ON CrucePlatillo.IdPlatillo = plat.Id
            
            RIGHT OUTER JOIN Elemento AS elementos ON elementos.Id = CrucePlatillo.IdElemento

			LEFT JOIN AdicionalesxOrden AS CruceElementos ON CruceElementos.IdOrden = ord.Id
            
            LEFT JOIN Elemento AS extra ON extra.Id = CruceElementos.IdElemento
            

		WHERE
			ord.Estado = 1
		ORDER BY 
			ord.Id,
            tab.Nombre,

			
			
			plat.Nombre,
			elementos.Nombre
			
		FOR
			JSON AUTO



END
GO
/****** Object:  StoredProcedure [dbo].[GetTableOrders]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTableOrders]

AS
BEGIN
    SET NOCOUNT ON

		SELECT
			ord.Id,
			ord.Fecha,
			tab.Id,
			tab.Nombre,
			plat.Id,
			plat.Nombre,
			plat.Precio,
			extra.Id,
			extra.Nombre,
			extra.Precio
            
		FROM
			Orden as ord
			RIGHT OUTER JOIN PlatillosxOrden as CruceOrden ON ord.Id = CruceOrden.IdOrden
			
			RIGHT OUTER JOIN Platillo as plat ON CruceOrden.IdPlatillo = plat.Id
            
            RIGHT OUTER JOIN Mesa as tab ON ord.IdMesa = tab.Id

			LEFT JOIN AdicionalesxOrden AS CruceElementos ON CruceElementos.IdOrden = ord.Id
            
            LEFT JOIN Elemento AS extra ON extra.Id = CruceElementos.IdElemento
            

		WHERE
			ord.Estado = 2
		ORDER BY 
			tab.Id,
			plat.Nombre,
			extra.Nombre

			
		FOR
			JSON AUTO



END
GO
/****** Object:  StoredProcedure [dbo].[getTables]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getTables]
AS
BEGIN
    SET NOCOUNT ON

        SELECT Id, Nombre, Estado
		FROM Mesa
		WHERE Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[getUsers]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getUsers]
AS
BEGIN
    SET NOCOUNT ON

        SELECT Username, FechaInicio, FechaFinal, Estado, Rol, Nombre, Apellido
		FROM Usuario

END
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[login]
    @pUserName NVARCHAR(50), 
    @pPassword NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON
		
		DECLARE @password nvarchar(50)

		SET @password = (SELECT [Password]
		FROM Usuario 
		WHERE Username = @pUserName)
		IF (@password = @pPassword)
			SELECT Id FROM Usuario WHERE Username = @pUserName
		ELSE
			SELECT -1
END
GO
/****** Object:  StoredProcedure [dbo].[OrderDelivered]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderDelivered]
    @pIdOrden int
AS
BEGIN
    SET NOCOUNT ON

        UPDATE Orden
		SET Estado = 3
		WHERE Id = @pIdOrden

END
GO
/****** Object:  StoredProcedure [dbo].[payOrder]    Script Date: 1/25/2022 11:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[payOrder]
	@pIdOrder as int

AS
BEGIN
    SET NOCOUNT ON

		UPDATE Orden
		SET Estado = 3
		Where Id = @pIdOrder

		UPDATE PlatillosxOrden
		SET SiPagado = 1
		WHERE IdOrden = @pIdOrder

		UPDATE AdicionalesxOrden
		SET SiPagado = 1
		WHERE IdOrden = @pIdOrder

END
GO
USE [master]
GO
